@import "_variables.sass", "_mixins.sass";

.container
    
    width: 1440px
    height: 850px
    background: #F7F8FC
    font-family: 'Poppins', sans-serif
    &__content
        padding: 49px 179px 0px 172px
        box-sizing: border-box

.header

    margin-bottom: 23px
    display: flex
    justify-content: space-between
    &__title
        font-size: 24px
    &__navigation
        &__select
            color: $main_blue
        &__btn
            width: 35px
            height: 35px
            background: $main_blue
            color: #ffffff
            border: none
            box-shadow: 0px 4px 10px rgba(0, 75, 255, 0.24)
            border-radius: 4px
            font-size: 28px

        span 
            font-size: 12px
            color: $main_font_grey
        
.main
    width: 1089px
    height: 300px
    padding: 20px 20px 20px 31px
    box-sizing: border-box
    background: #FFFFFF
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.04)
    &__content
        display: flex
        height: 191px
        letter-spacing: 0.01em
        &__traffic
            &__metrics
                display: flex
                font-size: 12px
                color: $main_font_blue
                &__main
                    display: flex
                    flex-direction: column
                    width: 100px
                    span
                        margin-top: 10px
                &__values
                    width: 80px
                    font-size: 12px
                    display: flex
                    flex-direction: column
                    
                    &__row
                        display: flex
                        &__changes
                            margin-left: auto
                            position: relative
                            @include changes($main_red)
                        span:first-of-type
                            color: $main_blue
                       
                        span:last-of-type
                            color: $main_green
                            @include changes($main_green)
                        &:nth-child(2)
                            span:last-of-type
                                color: $main_red
                                @include changes($main_red)
                        span 
                            font-size: 12px
                            margin-top: 10px
                            
                            
        &__changes
            h3
                color: $header_color_grey
                font-size: 10px
                margin-top: 30px
                margin-bottom: 10px
            &__info
                
                display: flex
                flex-direction: column
                font-size: 12px
                color: $main_font_blue
                &__par
                    margin-top: 10px
                    span 
                        color: $main_blue
                
        &__ranking
            &__metrics
                display: flex
                    
                &__values
                    width: 50px
                    
                    &__row
                        display: flex
                        font-size: 12px
                        span
                            margin-top: 10px
                        span:first-of-type
                            color: $main_blue
                            margin-right: 10px
                        span:last-of-type
                            color: $main_red
                        &:nth-child(2)
                            span:last-of-type
                                color: $main_green
                                @include changes($main_green)
   
                            
                        &__changes
                            margin-left: auto
                            position: relative
                            @include changes($main_red)
                &__ranks
                    display: flex
                    font-size: 12px
                    width: 140px
                    flex-direction: column
                    color: $main_font_blue
                    span 
                        margin-top: 10px
                    
        h2
            color: $header_color_grey
            font-size: 11px
            margin-bottom: 30px
        &__score
            width: 180px
            border-right: 1px solid $border_color_grey
            margin-right: 35px
            padding-right: 30px
            box-sizing: border-box
            &__metrics
                display: flex
                font-size: 12px
                width: 150px
                &__value
                    display: flex
                    flex-direction: column
                    width: 40px
                    &__row
                        display: flex
                        
                        span:first-of-type
                            color: $main_blue
                        span:last-of-type
                            color: $main_red
                        &:nth-child(2)
                            span:last-of-type
                                color: $main_green
                                @include changes($main_green)
   
                            
                        &__changes
                            margin-left: auto
                            position: relative
                            @include changes($main_red)
                        
                            
                    div
                        margin-top: 10px   
                &__name
                    display: flex
                    flex-direction: column
                    width: 110px
                    span 
                        margin-top: 10px
                    &__errors
                        color: $main_red
                    &__warnings
                        color: $main_orange
                    &__notices
                        color: $main_blue
            &__big_metrics
                margin-bottom: 10px
                display: inline-block
                width: 150px

                &__main
                    font-size: 56px
                    color: $main_green
                &__main_percent
                    font-size: 28px
                    color: $main_green
                &__change
                    margin-left: 25px
                    font-size: 15px
                    color: $main_red
                    position: relative
                &__change::before
                    content: ''
                    position: absolute
                    left: -12px
                    bottom: 5px
                    border: 3px solid transparent
                    border-top: 3px solid $main_red
                    
        &__ranking
            width: 275px
            border-right: 1px solid $border_color_grey
            margin-right: 35px
        &__changes
            width: 220px
            border-right: 1px solid $border_color_grey
            margin-right: 35px
        &__traffic
    &__navigation
        display: flex
        width: 70px
        justify-content: space-between
        
    &__header
        height: 50px
        display: flex
        border-bottom: 1px solid $border_color_grey
        justify-content: space-between
        margin-bottom: 20px
        &__site
            font-size: 15px 
            text-decoration: none
            color: black
            display: flex
            &__url
                text-decoration: none
                margin-top: 5px
            &__icon
                width: 25px
                height: 25px
                border-radius: 50%
                margin-right: 10px
                
